*{
    scroll-behavior: smooth;
    
}
body{
    margin-left:20px;
    
}
.cart{
    padding-left: 10px;
}
.nav-item{
    align-items: center;
    padding:10px;
}
.header_menu{
    background-color:cornsilk ;
    border-left:2px solid brown;
    border-right:2px solid brown;
    width:100vw;
    position: fixed;
    z-index: 1;
 
}
.header_carousel{
    left:0;right: 0;
}

.nav-link{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 200;
    color: brown;
    font-weight: bold;
}

.nav-link:hover{
    text-decoration: underline;
   text-transform: uppercase;
   text-decoration-color:green;
  
    
}
.carousel-inner img{
    height:80vh;
    width:100vw;
    
}
.p-2 img{
    height:40vh;
    width:30vw;
   margin-left: auto;
   margin-right:auto;
   align-items: center;
    display: flex;
    gap:5px;
  
    border-radius: 10px 0 10px 0;
    
    
}
 h2{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color:maroon;
   
}

@media only screen and (max-width:600px) {

    body{
        width:100vw;

    }

    .header_carousel{
    
    width:100vw;    
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}

#center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div.a{
    width:auto;
    height:auto;
    align-items: center;
    font-size: small;
   
}
div.b{
    width:auto;
    height:auto;
    align-items: center;
    font-size: small;
    
   
}
div.c{
    width:auto;
    height:auto;
    align-items: center;
    font-size: small;
   
}
div.col2{
    width:auto;
    height:auto;
   font-size:small;
   
}
div.productdetail{
    align-items: center;  
    margin-left: auto;
    margin-right: auto;  
}

}
.header_category{
  
    width:100vw;
}
.latestproducts{
    margin-top: 10px;

    width:100vw;
}

.col img{
   display:grid;
  
    padding-top: 10px;
    
   height:30vh;
   width:30vw;
  margin-left: auto;
  margin-right:auto;
 
  align-items: center;
  border-radius: 0 15px 0 15px ;
 
}
.features{
    
    margin-top:10px;
   
   
}
#feature
{
    height:auto;
    width:30vw;
    align-items: center;
    display: flex;
    gap:10px;
    text-align: center;
   
  
  
   
    
}
div.a{
    background: linear-gradient(white,black);
    border-radius: 0 15px 0 15px ;
    margin:10px ;
    border:2px solid whitesmoke;
    
    
}
div.b{
    background: linear-gradient(white,black);
    border-radius: 0 15px 0 15px ;
    margin:10px ;
    border:2px solid whitesmoke;
    
}
div.c{
    background: linear-gradient(white,black);
    border-radius: 0 15px 0 15px ;
    margin:10px ;
    border:2px solid whitesmoke;
    
}
div h3{
    color:brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div.col2{
    height:50vh;
    width:30vw;
    margin-left:20px;
    
    display: flex;
    gap:20%;
    color:black;
  
}
footer{
    padding:10px;

    color:white;
   
}
footer li a{
    color:white;
}
ul.links{
    list-style-type: none;
    
    
}
.links li a{
    text-decoration: none;
}




 

